<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/add-product.css">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container card center">

            <div class="row">
                <form class="col s12" action="/admin/<% if(editing){ %>edit-product<% } else { %>add-Product<% } %>" method="post">
                    <div class="row">

                        <h4>
                            <% if(editing){ %>
                                Update Product
                            <% } else { %>
                                Add New Product
                            <% } %>
                        </h4>

                        <div class="input-field col s12 m12 l12">
                            <input id="title" type="text" value="<% if (editing) { %><%= product.title %><% } %>" class="validate" name="title">
                            <label for="title">title</label>
                        </div>

                       

                        <div class="input-field col s12 m12 l12">
                            <input id="image" type="text" name="imageUrl" >
                            <label for="image">Image</label>
                        </div>


                        <div class="input-field col s12 m12 l12">
                            <input id="price" type="number" name="price" class="validate" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
                            <label for="price">price</label>
                        </div>

                        <div class="input-field col s12 m12 l12">
                                <input id="description" type="text" value="<% if (editing) { %><%= product.description %><% } %>" class="validate" name="description">
                                <label for="description">description</label>
                            </div>

                        <div class="col">
                            <div class="row submit">
                                    <% if (editing) { %>
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                    <% } %>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                               
                                <button class="btn col" type="submit">
                                    <% if(editing){ %>Update Product
                                    <% } else { %>Add Product
                                    <% } %>
                                 </button>

                            </div>


                        </div>
                    </div>

                </form>

            </div>
        </div>

    </main>
    <%- include('../includes/end.ejs') %>