<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

<!-- <link rel="stylesheet" href="/css/index.css"> -->
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main >
        <% if (products.length > 0) { %>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
            <li class="cart__item row">
                <div class="col mobile-img s6 m6 l6">
                    <img class="activator card  " src="<%= p.productId.imageUrl %>">
                </div>
                <div class="cart-det col s6 m6 l6">
                    <h1 class="cart-name">Name:
                        <%= p.productId.title %>
                    </h1>
                    <h1 class="cart-quantity">Quantity:
                        <%= p.quantity %>
                    </h1>
                    <h2 class="cart-price">
                        Price: $
                        <%= p.productId.price %>
                    </h2>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" value="<%= p.productId._id %>" name="productId">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </div>


            </li>
            <% }) %>
        </ul>
        <hr>
        <a href="/checkout" class="btn centered order">Order now!</a>
      

        <% } else { %>
        <h1 class="no-product">No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>