<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>

        <main id="">

            <div class="container">
                <div class="row">
                    <form class="center">
                        <div class="input-field center">
                            <input id="search" placeholder="Search Meals and make order" type="search" class="center marg"
                                required>
                            <label class="label-icon" for="search"><i class="material-icons marg">search</i></label>
                            <i class="material-icons marg">close</i>
                        </div>
                    </form>


                </div>

            </div>
            <%- include('../includes/_msg.ejs') %>

            <% if (prods.length > 0) { %>
            <div id="meals" class="meals">
                <div class="row mob-cent">
                <% for (let product of prods) { %>

                    <div class="card tab-cent col s12 m6 l4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive" src="<%= product.imageUrl %>">
                        </div>
                        <div class="card-content">
                            <p class="card-title activator grey-text text-darken-4">
                                <%= product.title %>
                            </p>
                            <h6>Amount: <span>$ <%= product.price %></span></h6>
                            <a href="/shop/<%= product.id %>" class="btn">View</a>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    
                        </div>

                    </div>

                    <% } %>
                </div>
                <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
            </div>
        </main>

        <%- include('../includes/footer.ejs') %>
        <%- include('../includes/end.ejs') %>